<div *ngIf="cart.length > 0; else empty" class="cart-widget">
  <div class="cart-widget__items">
    <div  class="items">



      <div *ngFor="let item of cart" class="item">
        <a  [routerLink]="['/products', item.product.product_name]">
          <div class="item__image"><img class="img-responsive" [src]="item.product.images_mini" alt=""></div>
        </a>
          <div class="item__name">
            <a class="sb" [routerLink]="['/products', item.product.product_name]">
              <!--<span class="title">Starbuzz Lightning Washable Hose - Dark Blue</span>-->
              <span class="title">{{item.product.product_name}} <span *ngIf="item.product.product_color"> - {{item.product.product_color}}</span></span>
              <!--<div class="item__price"><strong>£{{item.product.product_price}}</strong></div>-->
              <div *ngIf="!item.product.product_promo_price; else promoPrice" class="item__price">
                <!--<span class="price">£39.99</span>-->
                <span class="price">{{item.product.product_price}} грн</span>
              </div>
              <ng-template #promoPrice>
                <div class="item__price promo">
                  <span class="price promo-price">{{item.product.product_promo_price}} грн</span>
                  <span class="price was-price">{{item.product.product_price}} грн</span>
                </div>
              </ng-template>
            </a>
            <div class="item__quantity">
              <label>
                <span class="minus" (click)="decCount(item.product.product_id, number.value)"></span>
                <input #number type="number" min="0" [value]="item.count" [(ngModel)]="item.count" (change)="countChange(item.product.product_id,number.value)">
                <span class="plus" (click)="incCount(item.product.product_id, number.value)"><span></span></span>
              </label>
            </div>
          </div>
        <!--</a>-->

      </div>

      <!--<div class="item">-->
        <!--<a href="#">-->
          <!--<div class="item__image"><img class="img-responsive" src="assets/img/1003648_compact.jpeg" alt=""></div>-->
          <!--<div class="item__name">-->
            <!--<a href="#">-->
              <!--<span class="title">Starbuzz Lightning Washable Hose - Dark Blue</span>-->
              <!--<div class="item__price"><strong>£7.99</strong></div>-->
            <!--</a>-->
            <!--<div class="item__quantity">-->
              <!--<label>-->
                <!--<span class="minus"></span>-->
                <!--<input #number type="number" min="0" value="1">-->
                <!--<span class="plus"><span></span></span>-->
              <!--</label>-->
            <!--</div>-->
          <!--</div>-->
        <!--</a>-->

      <!--</div>-->
    </div>



  </div>
  <hr>
  <div class="cart-widget__sum">
    <span>Всего на сумму</span>
    <span><strong>{{allSumInCart}} грн</strong></span>
  </div>
  <div class="cart-widget__btn">
    <a [routerLink]="['/ordering']" class="btn btn-green" (click)="removeBlockScroll()">Оформить заказ</a>
  </div>
</div>

<ng-template #empty>
  <div class="cart-widget">
    <div class="empty-cart">
      <h2>Ваша корзина пуста</h2>
    </div>
  </div>
</ng-template>
