<div class="cart-widget">
  <div class="cart-widget__items">

    <div class="items">
      <div class="item">
        <a href="#">
          <div class="item__image"><img class="img-responsive" src="assets/img/DSC_6393_compact.jpg" alt=""></div>
          <div class="item__name">
            <a href="#">
              <span class="title">Starbuzz Lightning Washable Hose - Dark Blue</span>
              <div class="item__price"><strong>£7.99</strong></div>
            </a>
            <div class="item__quantity">
              <label>
                <span class="minus"></span>
                <input #number type="number" min="0" value="1">
                <span class="plus"><span></span></span>
              </label>
            </div>
          </div>
        </a>

      </div>
      <div class="item">
        <a href="#">
          <div class="item__image"><img class="img-responsive" src="assets/img/1003648_compact.jpeg" alt=""></div>
          <div class="item__name">
            <a href="#">
              <span class="title">Starbuzz Lightning Washable Hose - Dark Blue</span>
              <div class="item__price"><strong>£7.99</strong></div>
            </a>
            <div class="item__quantity">
              <label>
                <span class="minus"></span>
                <input #number type="number" min="0" value="1">
                <span class="plus"><span></span></span>
              </label>
            </div>
          </div>
        </a>

      </div>
    </div>
  </div>
  <hr>
  <div class="cart-widget__sum">
    <span>Subtotal</span>
    <span><strong>£229.99</strong></span>
  </div>
  <div class="cart-widget__btn">
    <a href="#" class="btn btn-green">checkout</a>
  </div>
</div>
