<footer class="footer">

  <div class="container">
        <div class="footer-wr">
          <div class="footer__logo column">
            <img class="img-responsive" src="assets/img/logo_footer.png" alt="">
          </div>
          <div class="footer__menu column">
            <div class="footer-menu">
              <h2 class="title">footer menu</h2>
              <nav>
                <ul>
                  <li><a href="#">search</a></li>
                  <li><a href="#">about us</a></li>
                  <li><a href="#">catalog</a></li>
                  <li><a href="#">blog</a></li>
                  <li><a href="#">shipping</a></li>
                  <li><a href="#">discount</a></li>
                  <li><a href="#">terms</a></li>
                  <li><a href="#">privasy</a></li>
                  <li><a href="#">gift cards</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="footer__main-menu column">
            <h2 class="title">main menu</h2>
            <nav>
              <ul>
                <li><a href="#">shisha</a></li>
                <li><a href="#">flavours</a></li>
                <li><a href="#">charcoal</a></li>
                <li><a href="#">accessories</a></li>
                <li><a href="#">vaping</a></li>
                <li><a href="#">e-liquid</a></li>
              </ul>
            </nav>
          </div>
          <div class="footer__social-icons column">
            <div class="social-icons">
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
              <a href="#" style="display: none"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>

            </div>
          </div>
        </div>
    <div class="footer__credits">
      <div class="credits">
        <p>
          © 2017 <a href="/" title="">shishagear</a>.
          Shisha Gear Ltd, All Rights Reserved
        </p>
      </div>
    </div>
  </div>

</footer>
