
<div class="product-details " >
  <div class="container">
    <div class="product-details__breadcrumbs">
      <div class="breadcrumbs">
        <ul>
          <li><a routerLink="/">Главная</a></li>
          <!--<li><a  routerLink="/collections/{{selectedProduct?.category_name}}">{{selectedProduct?.category_name}}</a></li>-->
          <li><a routerLink="/collections/{{selectedProduct?.category_url}}/{{selectedProduct?.subcategory_url}}">{{selectedProduct?.category_name}} - {{selectedProduct?.subcategory_name}}</a></li>
          <li>{{selectedProduct?.product_name}}</li>
        </ul>

        <div class="links" style="position: absolute; opacity: 0">
            <a *ngFor="let produc of products"   [routerLink]="['/products', produc.product_name, produc.product_id]" style="margin-right: 1rem;"> {{produc.product_name}} {{produc.product_id}}</a>
        </div>

      </div>
    </div>



    <div class="product-details__content">
      <div class="content">
        <div class="content__slider">



          <app-product-slider *ngIf="products" [nameProduct]="products[0]?.product_name"></app-product-slider>




        </div>
        <div class="content__description">
          <div class="description">
            <div *ngIf="selectedProduct?.product_promo_price" class="banner__rt-wr posr"> <div class="banner__sale">Sale</div></div>
            <div class="description__product-vendor">
              <a *ngIf="selectedProduct" [routerLink]="['/collections/vendor', selectedProduct?.product_manufacturer]">{{selectedProduct?.product_manufacturer}}</a>

            </div>
            <div class="description__product-code"><span>{{selectedProduct?.product_id}}</span></div>
            <div class="description__product-name">
              <h1 class="product-name">{{selectedProduct?.product_name}}</h1>
              <div class="under-line"></div>
            </div>
            <div class="description__product-price" *ngIf="selectedProduct?.product_available">
              <!--<span class="price">£{{selectedProduct?.product_price}}</span>-->



              <div *ngIf="!selectedProduct?.product_promo_price; else promoPrice" class="item__price">
                <!--<span class="price">£39.99</span>-->
                <span class="price">{{selectedProduct?.product_price}} грн</span>
              </div>


              <ng-template #promoPrice>
                <div class="item__price promo">
                  <span class="price promo-price">{{selectedProduct?.product_promo_price}} грн</span>
                  <span class="price was-price">{{selectedProduct?.product_price}} грн</span>
                </div>
              </ng-template>


            </div>

            <div class="description__product-price" *ngIf="!selectedProduct?.product_available">
              <span class="sold">Продано</span>
            </div>

            <div class="description__product-colors">
              <label>Colors</label>

              <!--<mat-form-field>-->
                <!--<mat-select [(value)]="selected" (change)="selectChange()">-->
                  <!--<mat-option *ngFor="let option of options" [value]="option.value">-->
                    <!--{{ option.label }}-->
                  <!--</mat-option>-->
                <!--</mat-select>-->
              <!--</mat-form-field>-->


              <!--<p>You selected: {{selectedProduct?.product_color}}</p>-->
              <div class="select-wrapper">
                <select  [(ngModel)]="selectedProduct"  (ngModelChange)="colorChange($event)">
                  <option  *ngFor="let item of products"   [ngValue]="item">{{ item.product_color }}</option>

                </select>
              </div>
            </div>



            <div class="description__product-quantity" [class.disabled]="!selectedProduct?.product_available">
              <div class="quantity__qty" >
                  <label for="quantity">Qty</label>
                  <div class="quantity">
                    <label>
                      <span class="minus" (click)="decCount()"></span>
                      <input id="quantity" type="number" min="1" [value]="count" [(ngModel)]="count" (change)="countChange()">
                      <span class="plus" (click)="incCount()"><span></span></span>
                    </label>
                  </div>
              </div>
              <div class="quantity__btn">
                <a  (click)="addToCart()" class="btn btn-green">add to card</a>
              </div>
            </div>
            <div class="description__product-info">
              <!--<span>Khalil Mamoon Cafe Style Hookah</span>-->
              <span>{{selectedProduct?.product_name}}</span>
              <br><br>
              <span class="white-space">{{selectedProduct?.product_description}}</span>
              <br><br>
              <span><strong>Features:</strong></span>
              <br>
              <!--<span>Brand - Khalil Mamoon</span>-->

              <span *ngFor=" let option of selectedProduct?.product_options"><span *ngIf="option.option_name && option.option_value">{{option.option_name}} - {{option.option_value}} <br> </span>   </span>

              <!--<span>Design - Cafe Style</span>-->
              <!--<br>-->
              <!--<span>Product - Complete Hookah</span>-->
              <!--<br>-->
              <!--<span>Material - High Grade Stainless Steel</span>-->
              <!--<br>-->
              <!--<span>Height - 28"</span>-->
            </div>
            <div style="display: none" class="under-line"></div>
            <div class="description__product-reviews"></div>
            <div class="description__product-social-buttons"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="promo-slider">
  <app-promo-slider></app-promo-slider>
</div>
