
<div class="product-details">
  <div class="container">
    <div class="product-details__breadcrumbs">
      <div class="breadcrumbs">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">sisha</a></li>
          <li>khalil-mamon</li>
        </ul>
      </div>
    </div>

    <div class="product-details__content">
      <div class="content">
        <div class="content__slider">

            <!--<div class="slider">-->
              <!--<div class="slider__main">-->
                <!--<div class="carousel main-carousel">-->
                  <!--<div class="carousel-cell"><img class="img-responsive" src="assets/img/DSC_6678_300x.jpg" alt=""></div>-->
                  <!--<div class="carousel-cell"><img class="img-responsive" src="assets/img/DSC_6678_300x.jpg" alt=""></div>-->
                  <!--<div class="carousel-cell"><img class="img-responsive" src="assets/img/DSC_6678_300x.jpg" alt=""></div>-->

                <!--</div>-->
              <!--</div>-->
              <!--<div class="slider__nav">-->
                <!--<div class="carousel carousel-nav" >-->
                  <!--<div class="carousel-cell"></div>-->
                  <!--<div class="carousel-cell"></div>-->
                  <!--<div class="carousel-cell"></div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <div class="carousel-container">
            <!-- Flickity HTML init -->
            <div class="carousel carousel-main">
              <div class="carousel-cell"><a data-fancybox="galleryimg" href="//cdn.shopify.com/s/files/1/1154/2392/products/DSC_6678_1200x.jpg?v=1500642942"><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1154/2392/products/DSC_6678_1200x.jpg?v=1500642942" alt=""></a></div>
              <div class="carousel-cell"><a data-fancybox="galleryimg" href="//cdn.shopify.com/s/files/1/1154/2392/products/DSC_6664_1200x.jpg?v=1500642942"><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1154/2392/products/DSC_6664_1200x.jpg?v=1500642942" alt=""></a></div>
              <div class="carousel-cell"><a data-fancybox="galleryimg" href="//cdn.shopify.com/s/files/1/1154/2392/products/DSC_6689_1200x.jpg?v=1500642942"><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1154/2392/products/DSC_6689_1200x.jpg?v=1500642942" alt=""></a></div>
              <div class="carousel-cell"><a data-fancybox="galleryimg" href="//cdn.shopify.com/s/files/1/1154/2392/products/DSC_6676_1200x.jpg?v=1500642942"><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1154/2392/products/DSC_6676_1200x.jpg?v=1500642942" alt=""></a></div>

            </div>

            <div class="carousel-nav">
              <div class="carousel-cell is-nav-selected"><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1154/2392/products/DSC_6678_1200x.jpg?v=1500642942" alt=""></div>
              <div class="carousel-cell"><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1154/2392/products/DSC_6664_1200x.jpg?v=1500642942" alt=""></div>
              <div class="carousel-cell"><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1154/2392/products/DSC_6689_1200x.jpg?v=1500642942" alt=""></div>
              <div class="carousel-cell"><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1154/2392/products/DSC_6676_1200x.jpg?v=1500642942" alt=""></div>

            </div>

          </div>







        </div>
        <div class="content__description">
          <div class="description">
            <div class="description__product-vendor"><a href="#">Khalil Mamoon</a></div>
            <div class="description__product-code"><span>1393083</span></div>
            <div class="description__product-name">
              <h1 class="product-name">Khalil Mamoon Cafe Style Hookah</h1>
              <div class="under-line"></div>
            </div>
            <div class="description__product-price">
              <span class="price">£39.99</span>
            </div>
            <div class="description__product-colors">
              <label>Colors</label>
              <mat-form-field>
                <mat-select placeholder="Favorite color" [(value)]="selected" (click)="selectChange()">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let option of options" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!--<p>You selected: {{selected}}</p>-->
              <div class="select-wrapper">
                <select [(value)]="selected" (change)="selectChange()">
                  <option value="Red">Red</option>
                  <option value="Black">Black</option>
                  <option value="Blue">Blue</option>
                  <option value="Green">Green</option>
                </select>
              </div>
            </div>
            <div class="description__product-quantity">
              <div class="quantity__qty">
                  <label for="quantity">Qty</label>
                  <div class="quantity">
                    <label>
                      <span class="minus"></span>
                      <input id="quantity" type="number" min="0" value="1">
                      <span class="plus"><span></span></span>
                    </label>
                  </div>
              </div>
              <div class="quantity__btn">
                <a href="#" class="btn btn-green">add to card</a>
              </div>
            </div>
            <div class="description__product-info">
              <span>Khalil Mamoon Cafe Style Hookah</span>
              <br><br>
              <span>Features:</span>
              <br>
              <span>Brand - Khalil Mamoon</span>
              <br>
              <span>Design - Cafe Style</span>
              <br>
              <span>Product - Complete Hookah</span>
              <br>
              <span>Material - High Grade Stainless Steel</span>
              <br>
              <span>Height - 28"</span>
            </div>
            <div class="under-line"></div>
            <div class="description__product-reviews"></div>
            <div class="description__product-social-buttons"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
