<div class="shopping-list">
  <div class="container">
    <div class="shopping-list__breadcrumbs">
          <div class="breadcrumbs">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">sisha</a></li>
              <li>khalil-mamon</li>
            </ul>
          </div>
    </div>
    <div class="shopping-list__title">
      <h1 class="title">Shisha - Khalil Mamoon</h1>
      <div class="sort-method">
        <div class="select-wrapper">
          <select>
            <option>Price: Low to High</option>
            <option>Price: High to Low</option>
            <option>Date: New to Old</option>
            <option>Date: Old to New</option>
          </select>
          <div class="select-arrow-1"></div>
        </div>
      </div>
    </div>

    <div class="shopping-list__under-title"> <div class="under-line"></div></div>
    <div class="shopping-list__items">
      <div class="items">

          <div class="item">
            <div class="item__image">
              <div class="image">
                <div class="image__img">
                  <img class="img-responsive" src="assets/img/DSC_6678_300x.jpg" alt="">
                </div>
                <div class="image__overlay">
                  <a href="#">
                    <div class="overlay">
                      <a href="#" class="btn btn-white">Quick View</a>
                    </div>
                  </a>

                </div>
              </div>
            </div>
            <a href="#" class="item__description">
                <div class="item__name">
                  <span class="title">Khalil Mamoon Cafe Style Hookah</span>
                </div>
                <div class="item__price">
                  <span class="price">£39.99</span>
                </div>
            </a>

          </div>
        <div class="item">
          <div class="item__image">
            <div class="image">
              <div class="image__img">
                <img class="img-responsive" src="assets/img/DSC_6678_300x.jpg" alt="">
              </div>
              <div class="image__overlay">
                <a href="#">
                  <div class="overlay">
                    <a href="#" class="btn btn-white">Quick View</a>
                  </div>
                </a>

              </div>
            </div>
          </div>
          <a href="#" class="item__description">
            <div class="item__name">
              <span class="title">Khalil Mamoon Cafe Style Hookah</span>
            </div>
            <div class="item__price">
              <span class="price">£39.99</span>
            </div>
          </a>

        </div>
        <div class="item">
          <div class="item__image">
            <div class="image">
              <div class="image__img">
                <img class="img-responsive" src="assets/img/DSC_6678_300x.jpg" alt="">
              </div>
              <div class="image__overlay">
                <a href="#">
                  <div class="overlay">
                    <a href="#" class="btn btn-white">Quick View</a>
                  </div>
                </a>

              </div>
            </div>
          </div>
          <a href="#" class="item__description">
            <div class="item__name">
              <span class="title">Khalil Mamoon Cafe Style Hookah</span>
            </div>
            <div class="item__price">
              <span class="price">£39.99</span>
            </div>
          </a>

        </div>
        <div class="item">
          <div class="item__image">
            <div class="image">
              <div class="image__img">
                <img class="img-responsive" src="assets/img/DSC_6678_300x.jpg" alt="">
              </div>
              <div class="image__overlay">
                <a href="#">
                  <div class="overlay">
                    <a href="#" class="btn btn-white">Quick View</a>
                  </div>
                </a>

              </div>
            </div>
          </div>
          <a href="#" class="item__description">
            <div class="item__name">
              <span class="title">Khalil Mamoon Cafe Style Hookah</span>
            </div>
            <div class="item__price">
              <span class="price">£39.99</span>
            </div>
          </a>

        </div>
        <div class="item">
          <div class="item__image">
            <div class="image">
              <div class="image__img">
                <img class="img-responsive" src="assets/img/DSC_6678_300x.jpg" alt="">
              </div>
              <div class="image__overlay">
                <a href="#">
                  <div class="overlay">
                    <a href="#" class="btn btn-white">Quick View</a>
                  </div>
                </a>

              </div>
            </div>
          </div>
          <a href="#" class="item__description">
            <div class="item__name">
              <span class="title">Khalil Mamoon Cafe Style Hookah</span>
            </div>
            <div class="item__price">
              <span class="price">£39.99</span>
            </div>
          </a>

        </div>
        <div class="item">
          <div class="item__image">
            <div class="image">
              <div class="image__img">
                <img class="img-responsive" src="assets/img/DSC_6678_300x.jpg" alt="">
              </div>
              <div class="image__overlay">
                <a href="#">
                  <div class="overlay">
                    <a href="#" class="btn btn-white">Quick View</a>
                  </div>
                </a>

              </div>
            </div>
          </div>
          <a href="#" class="item__description">
            <div class="item__name">
              <span class="title">Khalil Mamoon Cafe Style Hookah</span>
            </div>
            <div class="item__price">
              <span class="price">£39.99</span>
            </div>
          </a>

        </div>
        <div class="item">
          <div class="item__image">
            <div class="image">
              <div class="image__img">
                <img class="img-responsive" src="assets/img/DSC_6678_300x.jpg" alt="">
              </div>
              <div class="image__overlay">
                <a href="#">
                  <div class="overlay">
                    <a href="#" class="btn btn-white">Quick View</a>
                  </div>
                </a>

              </div>
            </div>
          </div>
          <a href="#" class="item__description">
            <div class="item__name">
              <span class="title">Khalil Mamoon Cafe Style Hookah</span>
            </div>
            <div class="item__price">
              <span class="price">£39.99</span>
            </div>
          </a>

        </div>

      </div>

    </div>
    <div class="shopping-list__btn-load"></div>
  </div>
</div>
