<div class="admin">

    <div class="admin__nav">
      <nav>
        <ul>
          <li><a routerLink="/admin/orders" routerLinkActive="active">Список заказов</a></li>
          <li>
            <a routerLink="/admin/prods" routerLinkActive="active">Список продуктов</a>
            <ul class="dropdown-data">
              <li><a routerLink="/admin/prods/add" routerLinkActive="active">Добавить продукт</a></li>
            </ul>
          </li>

          <li><a routerLink="/admin/categories" routerLinkActive="active">Категории</a></li>
          <li><a routerLink="/admin/subCategories" routerLinkActive="active">Подкатегории</a></li>
          <li><a routerLink="/admin/typeProd" routerLinkActive="active">Типы товаров</a></li>
          <li><a routerLink="/admin/typeProdProperty" routerLinkActive="active">Характеристики для<br>типа товара</a></li>
        </ul>
      </nav>
    </div>

    <div class="admin__content">
      <router-outlet></router-outlet>
    </div>

</div>



