
.admin
  display: flex
  &__content
    padding: 0 3rem
    padding-bottom: 3rem




nav
  height: 100%
  ul
    background-color: #1b1f23
    padding: 3rem 0
    min-width: 250px
    height: 100%
    min-height: 50vh
    li
      a
        font-size: 16px
        color: white
        display: block
        padding: 1rem 2rem

      &:hover
        a
          background: darken(#1b1f23, 3%)
