<div class="shopping-list fadeInRouter">
  <div class="container">
    <div class="shopping-list__title">
      <h1  class="title">Оформление заказа</h1>
      <!--<span>Доставка осуществляется Новой Почтой</span>-->
    </div>

    <div class="shopping-list__under-title"> <div class="under-line"></div></div>
    <div class="shopping-list__order" *ngIf="!hideForm">
      <p class="delivery-info" *ngIf="cart.length > 0">Доставка осуществляется Новой Почтой, наложеным платежем <br>
        при закасе свыше 200 грн доставка бесплатно <br>
        при закасе менее 200 грн стоимость доставки 50 грн <br> Одесса и Киев бесплатно
      </p>
      <div class="order" *ngIf="cart.length > 0; else empty">
              <div class="order__info">



                <div class="info">

                  <label>
                    <input id="name" type="text" class="base-input" placeholder="Имя" [(ngModel)]="name">
                  </label>

                  <label>
                    <input id="famil" type="text" class="base-input" placeholder="Фамилия" [(ngModel)]="famil">
                  </label>

                  <label>
                    <input  id="phone" type="tel" class="base-input" placeholder="Телефон" [(ngModel)]="phone">
                  </label>

                  <label>
                    <input type="email" class="base-input" placeholder="Email" [(ngModel)]="email"
                           #emailCheck="ngModel"
                           [ngClass]="{'error-input': emailCheck.invalid, 'success-input': !emailCheck.invalid }"
                            email>
                  </label>

                    <div class="city">
                        <mat-form-field  >

                        <mat-select placeholder="Город" [(ngModel)]="selectedCity" (ngModelChange)="cityChange($event)"  (opened)="openCities()" (closed)="clearSelectCities()" >
                          <label>
                             <input id="city"  type="text"  class="base-input input-s" placeholder="Поиск города"  [(ngModel)]="citySearch" (ngModelChange)="searchCity()" autofocus>
                          </label>

                            <mat-option *ngFor="let city of cities" [value]="city.DescriptionRu">
                            {{ city.DescriptionRu }}
                             </mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>

                  <div class="office" [class.disabled]="offices.length == 0">
                    <mat-form-field>
                      <mat-select placeholder="Отделение Новой Почты" [(value)]="selectedOffice" (ngModelChange)="officeChange($event)">
                        <mat-option *ngFor="let office of offices" [value]="office.DescriptionRu">
                          {{ office.DescriptionRu }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>


                  <div class="custom-address">
                    <label>
                      <input [(ngModel)]="selectedCustomAddress" (ngModelChange)="customAddrChange()" type="checkbox"/>
                      <span class="checkbox__text">Доставка курьером</span>
                    </label>

                    <div  class="fields" >


                        <label>
                          <input  type="text" class="base-input" placeholder="Улица" [(ngModel)]="customAddress.street">
                        </label>

                        <label>
                          <input  type="text" class="base-input" placeholder="Дом" [(ngModel)]="customAddress.houseNumber">
                        </label>

                        <label>
                          <input  type="text" class="base-input" placeholder="Квартира" [(ngModel)]="customAddress.apartmentNumber">
                        </label>
                        </div>
                  </div>

                  <div class="order_confirm">

                    <a href="#" class=" btn btn-back" (click)="goToBack($event)">
                      <svg class="icon-svg icon-svg--color-accent icon-svg--size-10 previous-link__icon rtl-flip" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M8 1L7 0 3 4 2 5l1 1 4 4 1-1-4-4"></path></svg>
                      <span>Вернуться назад</span></a>



                    <!--<a [class.disabled]="hasError || emailCheck.invalid"-->
                    <a href="#" [class.disabled]="hasError"
                       (click)="confirmOrder($event)" class=" btn btn-confirm">Заказ подтверждаю</a>



                  </div>

                </div>
              </div>
              <div class="order__cart">

                <div class="order__cart-mobile">
                  <div class="wrap">
                    <a href="#" class="cart-mobile-detail" (click)="$event.preventDefault();">
                      <svg width="20" height="19" xmlns="http://www.w3.org/2000/svg" class="icon-cart">
                        <path d="M17.178 13.088H5.453c-.454 0-.91-.364-.91-.818L3.727 1.818H0V0h4.544c.455 0 .91.364.91.818l.09 1.272h13.45c.274 0 .547.09.73.364.18.182.27.454.18.727l-1.817 9.18c-.09.455-.455.728-.91.728zM6.27 11.27h10.09l1.454-7.362H5.634l.637 7.362zm.092 7.715c1.004 0 1.818-.813 1.818-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817zm9.18 0c1.004 0 1.817-.813 1.817-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817z"></path>
                      </svg>
                      <span>Показать продукты заказа</span>
                      <svg width="11" height="6" xmlns="http://www.w3.org/2000/svg" class="icon-cart__dropdown" fill="#000"><path d="M.504 1.813l4.358 3.845.496.438.496-.438 4.642-4.096L9.504.438 4.862 4.534h.992L1.496.69.504 1.812z"></path></svg>
                    </a>
                    <span><strong>{{allSumInCart}} грн</strong></span>

                  </div>
                </div>

                <div class="cart">
                  <div class="cart__items">

                    <div class="item" *ngFor="let item of cart">
                      <div class="item__img">
                        <img class="img-responsive" [src]="item.product.images_mini" alt="">
                        <div class="count-item">{{ item.count }}</div>
                      </div>
                      <div class="item__name">
                        <div class="name">
                          <div class="name-prod">{{ item.product.product_name }}</div>
                          <div *ngIf="item.product.product_color" class="color">{{item.product.product_color}}</div>
                        </div>
                      </div>
                      <!--<div class="item__price">£{{item.product.product_price * item.count}}</div>-->




                      <div *ngIf="!item.product.product_promo_price; else promoPrice" class="item__price">
                        <!--<span class="price">£39.99</span>-->
                        <span class="price">{{item.product.product_price * item.count}} грн</span>
                      </div>


                      <ng-template #promoPrice>
                        <div class="item__price promo">
                          <span class="price promo-price">{{item.product.product_promo_price * item.count}} грн</span>
                          <span class="price was-price">{{item.product.product_price * item.count}} грн</span>
                        </div>
                      </ng-template>






                    </div>


                  </div>

                  <div class="catr__total">
                    <hr>
                    <div class="cart-widget__sum">
                      <span>К оплате</span>
                      <span><strong>{{allSumInCart}} грн</strong></span>
                    </div>
                  </div>

                </div>
              </div>
      </div>



      <ng-template #empty>
        <div class="empty-cart-wr" >
          <div class="cart-widget">
            <div class="empty-cart">
              <h2>Ваша корзина пуста</h2>
              <a routerLink="/" class=" btn btn-confirm">На главную</a>
            </div>
          </div>
        </div>
      </ng-template>

    </div>

    <div class="empty-cart-wr" *ngIf="orderSuccess">
      <div class="cart-widget fadeInRouter" >
        <div class="empty-cart">
          <h2>Спасибо за заказ. <br> <span>Номер вашего заказа {{ successOrder_id }}</span> <br>Наш менеджер свяжется с Вами в ближайшее время</h2>

          <a routerLink="/" class=" btn btn-confirm">На главную</a>
        </div>
      </div>
    </div>


      <div class="cart-widget fadeInRouter" *ngIf="orderError">
        <div class="empty-cart">
          <h2>Произошла неизвестная ошибка. Пожалуйста свяжитесь с нашим менеджером или попробуйте еще раз</h2>
        </div>
      </div>


    <div class="shopping-list__btn-load">
      <!--<a [routerLink]="['/ordering']" (click)="confirmOrder()" class="btn btn-confirm">Заказ подтверждаю</a>-->
    </div>

  </div>
</div>



