/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'

$default-font: 'Open Sans', sans-serif

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  outline: none!important
  //user-select: none
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #cccccc
  opacity: 1

*:-moz-placeholder
  color: #cccccc
  opacity: 1

*::-moz-placeholder
  color: #cccccc
  opacity: 1

*:-ms-input-placeholder
  color: #cccccc
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666
body input:required:valid,
body textarea:required:valid
  color: #666

html
  font-size: 10px
  // margin-left: calc(100vw - 100%)

html, body
  min-height: 100%

main
  min-height: 50vh

body
  min-width: 320px
  position: relative
  font-family: $default-font
  overflow-x: hidden
  opacity: 1
  font-size: 1.6rem

.img-responsive
  display: block
  max-width: 100%
  height: auto


input[type=checkbox]
  height: 20px
  width: 20px

ul
  margin: 0
  padding: 0
  li
    list-style-type: none

a
  display: inline-block
  margin: 0
  padding: 0
  text-decoration: none
  color: #f4f4f4
  //letter-spacing: 1px
  &:hover,&:focus
    text-decoration: none
    //color:  #191a1e
    //color: #276fc9
    //color: #2f2f2f
    color: #f4f4f4
    //letter-spacing: 1px

.container
  width: 1200px
  margin: 0 auto

.search-input
  display: block
  width: 100%
  height: 42px
  min-height: 42px
  padding: 0 10px
  margin: 0
  line-height: 22px
  border: 1px solid #cccccc
  outline: none
  background: #fff
  color: #5f6a7d
  //font: 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif
  &:focus
    border: 1px solid #aaa
    //color: #cccccc

.base-input
  transition: all 0.2s ease-out
  background-color: white
  color: #333333
  border-radius: 4px
  display: block
  width: 100%
  padding: 1rem 2rem
  border: none
  //box-shadow: 0 0 0 1px #d9d9d9
  border: 1px solid #d9d9d9
  font-size: 14px
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
  &:focus
     border: 1px solid #03a196

label
  margin-bottom: 1.5rem
  display: block


.under-line
  width: 100%
  margin-bottom: 1.5rem
  display: block
  border: solid 1px
  height: 1px
  border-right: 0
  border-left: 0
  border-bottom: 0
  border-color: #aaaaaa



.btn
  &-confirm
    // font-family: 'Josefin Sans', sans-serif
    font: 14px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif
    transition: all 0.3s ease-in-out
    font-weight: 500
    padding: 2rem 3rem
    background: #03a196
    color: white
    text-align: center
    cursor: pointer
    border-radius: 4px
    &:hover
      background: #026f67
    &:active
      transform: translate(0,3px)
  &-white
    font-family: 'Josefin Sans', sans-serif
    font-weight: normal
    font-size: 15px
    text-transform: uppercase
    letter-spacing: 1px
    cursor: pointer
    position: relative
    display: inline-block
    border: 1px solid white
    padding: 1.5rem 2.5rem
    padding-top: 1.8rem
    //margin-top: 2rem
    color: #FFF
    opacity: 0
    pointer-events: all
    transform: translate3d(0, 150%, 0)
    transition: opacity 0.3s ease-out, transform 0.3s ease-out,color 0.3s linear, background-color 0.3s linear
    border-radius: 3px
    z-index: 10
    margin-top: 2rem
    &:hover
      color: #000
      background-color: #FFF
  &-white-base
    font-weight: normal
    font-size: 15px
    text-transform: uppercase
    letter-spacing: 1px
    cursor: pointer
    position: relative
    display: inline-flex
    align-items: center
    justify-content: center
    padding: 1rem 2.5rem
    transition: all 0.3s linear
    min-height: 42px
    font-family: "Open Sans", sans-serif
    background-color: rgba(255,255,255,0)
    color: #ffffff
    border: 1px solid #ffffff
    border-radius: 3px
    min-width: 205px
    &:hover
      background-color: #ffffff
      border-color: #ffffff
      color: #333

  &-green
    background: #73af1b
    color: #ffffff
    border: 1px solid #73af1b
    padding: 0 20px
    text-align: center
    cursor: pointer
    min-height: 42px
    height: 40px
    line-height: 2.2rem
    font-family: 'Josefin Sans', sans-serif
    font-weight: normal
    font-size: 15px
    text-transform: uppercase
    letter-spacing: 1px
    transition: all 0.2s linear
    border-radius: 3px
    display: flex
    align-items: center
    justify-content: center
    padding-top: 3px
    &:hover
      background: #04736b
      border: 1px solid #04736b
    &:active
      transform: translate(0,3px)
    &-base
      background: #73af1b
      color: #ffffff
      border: 1px solid #73af1b
      padding: .5rem 2rem
      text-align: center
      cursor: pointer
      min-height: 42px
      line-height: 2.2rem
      display: inline-flex
      align-items: center
      justify-content: center
      border-radius: 3px
      text-transform: uppercase
      margin-top: 1.5rem
      font-family: "Open Sans", sans-serif

  &-close
    position: absolute
    top: 0
    right: 0
    display: block
    overflow: visible
    width: 35px
    height: 35px
    margin: 0
    padding: 0
    cursor: pointer
    text-decoration: none
    color: #333333
    border: 0
    outline: 0
    background: transparent
    z-index: 22
    transition: all 0.25s linear
    &:hover
      color: black
    &:focus
      color: #333333
    &:before
      font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important
      font-size: 20px
      line-height: 30px
      position: absolute
      top: 0
      left: 0
      display: block
      width: 35px
      content: "\00d7"
      text-align: center
      transition: all 0.25s ease-out

.btn-center
  top: 50%
  left: 50%
  right: inherit
  transform: translate(-50%,-50%)
  &:hover
    &:before
      font-size: 30px

.m10
  margin: 10px

.animated
  animation-duration: 0.5s
  animation-fill-mode: both

.fadeIn
  animation-name: fadeIn

.fadeInRouter
  animation-duration: 1s
  //animation-fill-mode: both
  animation-name: fadeIn

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fadeOut
  0%
    opacity: 1
  100%
    opacity: 0

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

.mat-input-container
  font: 14px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif

//.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option

.mat-option
  display: flex
  align-items: center
  line-height: 2rem !important
  height: auto !important
  min-height: 4rem
  word-break: break-all
  white-space: normal
  // padding: 5px 0 6px 1px
  padding-top: 5px
  padding-bottom: 5px
  border-bottom: 1px solid #eaeaea
  transition: all .2s ease-out
  font: 14px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif
  &:hover
    color: #fb3f4c
  &:last-child
    border-bottom: 1px solid transparent


.mat-form-field
  min-width: 100%
.mat-select-value-text
  padding-left: 1rem
  font: 14px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif

//.mat-input-container
//  min-width: 39rem
//  .ng-tns-c6-1
//    font: 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif
//.mat-form-field-underline
//  background: none
//.mat-input-underline
//  width: 0!important
//.mat-select,.mat-input-infix
// // min-width: 39rem!important
//.mat-select-arrow
//  border: inherit!important
//  width: 10px!important
//  height: 10px!important
//  border-right: 1px solid gray!important
//  border-bottom: 1px solid gray!important
//  transform: rotate(45deg) translate(0%, -36%)
//
//.mat-select
//  padding: .8rem 1.4rem .8rem
//  border-radius: 3px
//  border: 1px solid #d9dbdc
//
//.mat-input-placeholder
//  padding-left: 1.7rem
//  padding-top: .8rem
//.mat-select-value
//  line-height: 2.4rem





.flickity-prev-next-button
  opacity: 0
  transition: all 0.3s linear
  display: block
  background: transparent
  &:hover
    opacity: 1
.carousel:hover
  .flickity-prev-next-button
    background: none
    border: none
    opacity: .3
    width: 64px
    height: 64px
    transition: all .3s linear
.flickity-prev-next-button.next:hover,.flickity-prev-next-button.previous:hover
  opacity: 1
  background: transparent
  transition: all .3s linear



// magnific

/* start state

#small-dialog
  background: white
  padding: 20px 30px
  text-align: left
  max-width: 47%
  margin: 40px auto
  position: relative

.small-dialog-product
  background: white
  padding: 20px 30px
  text-align: left
  max-width: 47%
  margin: 40px auto
  position: relative


#confirm
  background: white
  padding: 20px 30px
  text-align: center
  max-width: 500px
  margin: 40px auto
  position: relative
  a
    padding: 1.3rem 4rem
    background: #73af1b
    color: #ffffff
    transition: all 0.2s linear
    text-transform: uppercase
    &:hover
      background: #04736b
  .btns
    display: flex
    justify-content: space-around



.my-mfp-zoom-in
  .zoom-anim-dialog
    opacity: 0
    -webkit-transition: all 0.2s ease-in-out
    -moz-transition: all 0.2s ease-in-out
    -o-transition: all 0.2s ease-in-out
    transition: all 0.2s ease-in-out
    -webkit-transform: scale(0.8)
    -moz-transform: scale(0.8)
    -ms-transform: scale(0.8)
    -o-transform: scale(0.8)
    transform: scale(0.8)
  &.mfp-ready .zoom-anim-dialog
    opacity: 1
    -webkit-transform: scale(1)
    -moz-transform: scale(1)
    -ms-transform: scale(1)
    -o-transform: scale(1)
    transform: scale(1)
  &.mfp-removing .zoom-anim-dialog
    -webkit-transform: scale(0.8)
    -moz-transform: scale(0.8)
    -ms-transform: scale(0.8)
    -o-transform: scale(0.8)
    transform: scale(0.8)
    opacity: 0
  &.mfp-bg
    opacity: 0
    -webkit-transition: opacity 0.3s ease-out
    -moz-transition: opacity 0.3s ease-out
    -o-transition: opacity 0.3s ease-out
    transition: opacity 0.3s ease-out
  &.mfp-ready.mfp-bg
    opacity: 0.8
  &.mfp-removing.mfp-bg
    opacity: 0

/* animate in

/* animate out

/* Dark overlay, start state

/* animate in

/* animate out

/**
 * Fade-move animation for second dialog

/* at start

.my-mfp-slide-bottom
  .zoom-anim-dialog
    opacity: 0
    -webkit-transition: all 0.2s ease-out
    -moz-transition: all 0.2s ease-out
    -o-transition: all 0.2s ease-out
    transition: all 0.2s ease-out
    -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg)
    -moz-transform: translateY(-20px) perspective(600px) rotateX(10deg)
    -ms-transform: translateY(-20px) perspective(600px) rotateX(10deg)
    -o-transform: translateY(-20px) perspective(600px) rotateX(10deg)
    transform: translateY(-20px) perspective(600px) rotateX(10deg)
  &.mfp-ready .zoom-anim-dialog
    opacity: 1
    -webkit-transform: translateY(0) perspective(600px) rotateX(0)
    -moz-transform: translateY(0) perspective(600px) rotateX(0)
    -ms-transform: translateY(0) perspective(600px) rotateX(0)
    -o-transform: translateY(0) perspective(600px) rotateX(0)
    transform: translateY(0) perspective(600px) rotateX(0)
  &.mfp-removing .zoom-anim-dialog
    opacity: 0
    -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg)
    -moz-transform: translateY(-10px) perspective(600px) rotateX(10deg)
    -ms-transform: translateY(-10px) perspective(600px) rotateX(10deg)
    -o-transform: translateY(-10px) perspective(600px) rotateX(10deg)
    transform: translateY(-10px) perspective(600px) rotateX(10deg)
  &.mfp-bg
    opacity: 0
    -webkit-transition: opacity 0.3s ease-out
    -moz-transition: opacity 0.3s ease-out
    -o-transition: opacity 0.3s ease-out
    transition: opacity 0.3s ease-out
  &.mfp-ready.mfp-bg
    opacity: 0.8
  &.mfp-removing.mfp-bg
    opacity: 0

/* animate in

/* animate out

/* Dark overlay, start state

/* animate in

/* animate out




.blockScroll
  //margin-right: calc(100vw - 100%)
  overflow: hidden
.mr0
  margin-right: 0

.disabled
  // pointer-events: none
  cursor: not-allowed
  opacity: .3


.error-input
  border: 1px solid #d8512d!important
.success-input
  border: 1px solid #03a196!important


table
  border-spacing: 0


.table-base
  table
    border-collapse: separate
    width: 100%
    border-spacing: 0
    tr:hover
      td
        background: darken(#f9f9f9, 5%)
    td
      vertical-align: middle
      padding: 17px 12px
      font-size: 14px

    tr
      &:nth-of-type(even)
        background-color: #f9f9f9
      td,th
        border-bottom: 1px solid #cdcdcd
        border-collapse: separate
        text-align: center
        position: relative
        &:last-child
          &:after
            display: none
        &:after
          position: absolute
          z-index: 1
          content: ''
          height: 80%
          width: 1px
          background-color: #cdcdcd
          top: 50%
          left: 100%
          transform: translate(0,-50%)
    tr:last-child
      td
        border-bottom: 1px solid transparent
    tr
      cursor: pointer
      td
        &:first-child
          border-left: 1px solid #cdcdcd
        &:last-child
          border-right: 1px solid #cdcdcd
      &:last-child
        td
          border-bottom: 1px solid #cdcdcd
          &:first-child
            border-radius: 0 0 0 5px

          &:last-child
            border-radius: 0 0 5px

    thead
      th
        white-space: nowrap
        color: white
        font-size: 12px
        font-weight: 700
        line-height: 21px
        text-transform: uppercase
        padding: 15px 20px
        background: #629a3f
        &:after
          background-color: white
          z-index: 1
        &:first-child
          border-radius: 5px  0 0 0
        &:last-child
          border-radius:  0   5px 0 0




.table-product

    td
      padding: 17px 30px
      &:not(:nth-of-type(2))
        white-space: nowrap
      &:nth-of-type(2)
        width: 100%
      &:nth-of-type(1)
        display: flex
        align-items: center
        justify-content: center
        min-width: 135px
        a
          display: flex
          align-items: center
          justify-content: center
        //width: 60px
        //height: 85px
        img
          max-height: 85px

.table-not-hover
  table
    tr
      cursor: default
      &:hover
        td
          background: inherit

.focus-green-border
  transition: all 0.2s linear
  &:focus
    // box-shadow: 0 0 0 2px #03a196
    border: 1px solid #03a196 !important


.close-wr
  position: relative
  width: 35px
  height: 35px
  margin-left: 10px
.edit-pencil
  display: flex !important
  align-items: center
  justify-content: center
  color: #333
  width: 35px
  height: 35px
  transition: all 0.25s ease-out
  &:before
    margin-bottom: 3px
  &:hover
    color: black
    font-size: 22px!important


.options
  display: flex
  align-items: center
  justify-content: center


.table-info
  border-collapse: separate
  //border: 1px solid #cdcdcd
  border-radius: 5px
  width: 100%
  tr:last-child
    td
      border-bottom: 1px solid transparent

  tr

    &:nth-of-type(odd)
      td
        background-color: #f9f9f9
  td
    position: relative
    padding: 17px 20px
    border-bottom: 1px solid #cdcdcd
    &:nth-of-type(1)
      text-align: center
      padding: 17px 40px
      white-space: nowrap
      color: #1d2f29
      font-size: 12px
      font-weight: 700
      line-height: 21px
      text-transform: uppercase
    &:nth-of-type(2)
      width: 100%
      color: #1d2f29
      font-size: 14px
      font-weight: 400
      line-height: 20px
      &:after
        display: none
    &:after
      position: absolute
      content: ''
      height: 80%
      width: 1px
      background-color: #cdcdcd
      top: 50%
      left: 100%
      transform: translate(0,-50%)
      z-index: 1
  tr
    &:first-child
      td
        border-top: 1px solid #cdcdcd
        &:first-child
          border-radius: 5px 0 0 0

        &:last-child
          border-radius: 0  5px 0 0
    td
      &:first-child
        border-left: 1px solid #cdcdcd
      &:last-child
        border-right: 1px solid #cdcdcd
    &:last-child
      td
        border-bottom: 1px solid #cdcdcd
        &:first-child
          border-radius: 0 0 0 5px

        &:last-child
          border-radius: 0 0 5px


textarea
  resize: vertical

.mb0
  margin-bottom: 0 !important
.select-wrapper-inline
  display: inline-block
  min-width: 300px

.thumb
  max-width: 200px

.aic
  display: flex
  align-items: center

.white-space
  white-space: pre-wrap

.disabled
  pointer-events: none
  opacity: 0.4
  cursor: not-allowed

label
  input[type='checkbox']
    position: absolute
    z-index: -1
    opacity: 0
    margin: 10px 0 0 20px
  .checkbox__text
    position: relative
    padding: 0 0 0 60px
    cursor: pointer

    &:before
      content: ''
      position: absolute
      top: -4px
      left: 0
      width: 50px
      height: 26px
      border-radius: 13px
      background: #CDD1DA
      box-shadow: inset 0 2px 3px rgba(0,0,0,.2)
      transition: .2s

    &:after
      content: ''
      position: absolute
      top: -2px
      left: 2px
      width: 22px
      height: 22px
      border-radius: 10px
      background: #FFF
      box-shadow: 0 2px 5px rgba(0,0,0,.3)
      transition: .2s

  input:checked + .checkbox__text:before
    background: #9FD468

  input:checked + .checkbox__text:after
    left: 26px

  input:focus + .checkbox__text:before
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7)




.input-s
  box-shadow: inherit
  border-radius: 0
  border: 1px solid rgba(255,255,0,.7)
  transition: .2s
  &:focus
    box-shadow: inherit
    border: 1px solid #9FD468

.banner
  &__rt-wr
    position: absolute
    top: 0
    right: 0
    z-index: 9
  &__sale
    background: #d54d4d
    font-family: 'Josefin Sans', sans-serif
    font-weight: bold
    font-size: 14px
    text-transform: uppercase
    letter-spacing: 1px
    padding: 8px 12px
    text-align: center
    color: #fff
    opacity: 0
    animation: fadeIn 0.5s 1.5s forwards
    line-height: 20px
    padding-top: 11px
    cursor: pointer




.sold
  margin-bottom: 1.8rem
  line-height: 3.2rem!important
  display: block
  font-size: 2rem!important
  font-weight: bold
  color: #333333
  margin-top: 5px

.posr
  position: relative
  display: inline-block
  margin-bottom: 1rem
  .banner__sale
    animation: fadeIn 0.5s 0s forwards

.spanBlock
    width: 100%
    height: 100%
    display: block



.blur
  filter: blur(5px)
  transition: filter 200ms linear


.mla
  margin-left: auto

//burger  <

.hamburger
  padding: 2rem 0
  display: inline-block
  cursor: pointer
  transition-property: opacity, filter
  transition-duration: 0.15s
  transition-timing-function: linear
  font: inherit
  color: inherit
  text-transform: none
  background-color: transparent
  border: 0
  margin: 0
  overflow: visible
  &:hover
    opacity: 0.7

.hamburger-box
  width: 40px
  height: 24px
  display: inline-block
  position: relative

.hamburger-inner
  display: block
  top: 50%
  margin-top: -2px
  width: 40px
  height: 2px
  background-color: white
  border-radius: 4px
  position: absolute
  transition-property: transform
  transition-duration: 0.15s
  transition-timing-function: ease
  &::before, &::after
    width: 40px
    height: 2px
    background-color: white
    border-radius: 4px
    position: absolute
    transition-property: transform
    transition-duration: 0.15s
    transition-timing-function: ease
  &::before, &::after
    content: ""
    display: block
  &::before
    top: -10px
  &::after
    bottom: -10px


/*
   * Collapse Reverse
   */
.hamburger--collapse-r
  .hamburger-inner
    top: auto
    bottom: 0
    transition-duration: 0.13s
    transition-delay: 0.13s
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
    &::after
      top: -20px
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear
    &::before
      transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19)
  &.is-active .hamburger-inner
    transform: translate3d(0, -10px, 0) rotate(45deg)
    transition-delay: 0.22s
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    &::after
      top: 0
      opacity: 0
      transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear
    &::before
      top: 0
      transform: rotate(90deg)
      transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1)
/*
   * Collapse Reverse
   */

//burger>


.empty-cart h2
  line-height: 4rem



.btn-back
  color: #03a196
  transition: color 0.2s ease-in-out
  margin-right: 2rem
  &:hover
    color: #027e75
    svg
      fill: #027e75
      transform: translateX(-5px)
  svg
    transition: all 0.2s cubic-bezier(0.3, 0, 0, 1)
    fill: #03a196
    margin-right: 0.25em
    height: 10px
    width: 10px








//
//main,footer
//  display: none !important



















/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
  html
    font-size: 8px
  .container
    width: 960px
  header .main_menu .dropdown-menu > a
    padding-right: 2.5rem!important


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  main
    transition: all .25s ease
  .cart-widget
    max-height: calc(100vh - 88px)!important


/* Medium Devices, Desktops */
@media only screen and (max-width : 959px)
  .container
    width: 100%
  .items .image-menu .item .item__details
    display: block
    .details
      opacity: 1




/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
  .flickity-prev-next-button
    display: none


@media only screen and (max-width : 639px)
  .empty-cart h2
    font-size: 2rem

@media only screen and (max-width : 539px)
  .empty-cart h2
    font-size: 14px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
  .cart-widget
    width: 310px !important
    max-width: 310px!important

  .empty-cart-wr
    display: flex
    justify-content: center




/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  /**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  /**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  /**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  #small-dialog
    max-width: 100%


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  #small-dialog
    max-width: 85%


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  #small-dialog
    max-width: 72%

@media only screen and (min-width : 1500px)
  #small-dialog
    max-width: 60%

@media only screen and (min-width : 1880px)
  #small-dialog
    max-width: 47%
