

<div class="shopping-list fadeInRouter">
  <div class="container">

    <div class="shopping-list__title">

      <h1 class="title"><span >Поиск</span></h1>

      <div class="search__input">
        <label>
          <input [disabled]="!products" type="text" class="base-input" [(ngModel)] = "searchString" (ngModelChange) = "search()" >
          <i class="fa fa-search" aria-hidden="true"></i>
        </label>

      </div>

    </div>

    <div class="shopping-list__under-title"> <div class="under-line"></div></div>
    <div class="shopping-list__items">
      <div class="items">

        <div *ngFor="let product of searchResult | slice:0:50" class="item">
          <div class="item__image">

            <!--<div *ngIf="product.product_promo_price" class="banner__rt-wr"> <div class="banner__sale">Sale</div></div>-->

            <div class="image">
              <div class="image__img">
                <!--<img class="img-responsive" [src]="assets/img/DSC_6678_300x.jpg" alt="">-->
                <img class="img-responsive" [src]="product.images_middle" alt="">
              </div>
              <div class="image__overlay">
                <a (click)="overlayClick($event,product.product_name)" href="#"  >
                  <div *ngIf="product.product_promo_price" class="banner__rt-wr"> <div class="banner__sale">Sale</div></div>
                  <div class="overlay">
                    <a href="#small-dialog" class="popup-with-zoom-anim btn btn-white" (click)="showShortInfo(product.product_name)">Quick View</a>

                  </div>
                </a>

              </div>
            </div>
          </div>
          <a [routerLink]="['/products', product.product_name]" class="item__description">
            <div class="item__name">
              <!--<span class="title">Khalil Mamoon Cafe Style Hookah</span>-->
              <span class="title">{{product.product_name}}</span>
            </div>

            <div *ngIf="product.avalible_in_group">
              <div *ngIf="!product.product_promo_price; else promoPrice" class="item__price">
                <!--<span class="price">£39.99</span>-->
                <span class="price">£{{product.product_price}}</span>
              </div>
              <ng-template #promoPrice>
                <div class="item__price promo">
                  <small> <em>От</em></small>
                  <span class="price promo-price">£{{product.product_promo_price}}</span>
                  <span class="price was-price">£{{product.product_price}}</span>
                </div>
              </ng-template>
            </div>

            <div *ngIf="!product.avalible_in_group" >
              <span class="sold">Продано</span>
            </div>

          </a>

        </div>


      </div>

    </div>
    <div class="shopping-list__btn-load"></div>
  </div>
</div>



<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
  <app-quick-view *ngIf="quickNameProduct"   [nameProduct]="quickNameProduct"></app-quick-view>
</div>


