<div class="home fadeInRouter" >
<!--<div class="home " style="filter: blur(11px)">-->
<div class="header">
<div class="header__img"><img src="assets/img/head-backgr.jpg" class="img-responsive" alt=""></div>
  <div class="header__info">
    <div class="info">
      <span class="sub-title">The UK's best</span>
      <span class="title">Shisha Supplier</span>

      <div class="btns">
        <a href="#" class="btn btn-white-base m10">Новые продукты</a>
        <a href="#" class="btn btn-white-base m10">Предложения</a>
      </div>

    </div>
  </div>
</div>


<div class="description">
<div class="container">

  <h2 class="description__title">
    Welcome to Shishagear, the UK's Premium shisha (hookah) supplier for all your needs.
    We are an official Starbuzz retailer, in addition to authorised resellers for Kaloud,
    AppleOnTop, Khalil Mamoon, Hookatec, Lulava, Hookafina, Beamer, Shapes, ArtHookah and many more.

    <br>
    <br>
    Заказы свыше 200 грн доставляются бесплатно.


  </h2>
  <p> <strong>Get 5% off your order by using the code "SHISHAGEAR5" in checkout</strong></p>

</div>
</div>


<div class="image-menu">
  <div class="image-menu__items">
    <div class="items">
      <div class="item">

        <div class="item__img">
          <!--<img src="assets/img/head-backgr.jpg" class="img-responsive" alt="">-->
          <img src="assets/img/feature1_480x.jpg" class="img-responsive" alt="">
        </div>

        <a href="">

          <!--<div class="item__img"><img src="assets/img/feature1_480x.jpg" class="img-responsive" alt=""></div>-->

          <div class="item__info">
              <div class="item__title"><h3 class="title">shisha</h3></div>
              <div class="item__details">
                <div class="details">
                  <div class="details__description">A wide selection of hookahs</div>
                  <div class="btn-green-base">Shop</div>
                </div>
              </div>

          </div>

        </a>

      </div>

      <div class="item">

        <div class="item__img">
          <!--<img src="assets/img/head-backgr.jpg" class="img-responsive" alt="">-->
          <img src="assets/img/feature2_480x.jpg" class="img-responsive" alt="">
        </div>

        <a href="">

          <!--<div class="item__img"><img src="assets/img/feature1_480x.jpg" class="img-responsive" alt=""></div>-->

          <div class="item__info">
            <div class="item__title"><h3 class="title">shisha</h3></div>
            <div class="item__details">
              <div class="details">
                <div class="details__description">A wide selection of hookahs</div>
                <div class="btn-green-base">Shop</div>
              </div>
            </div>

          </div>

        </a>

      </div>

      <div class="item">

        <div class="item__img">
          <!--<img src="assets/img/head-backgr.jpg" class="img-responsive" alt="">-->
          <img src="assets/img/feature3_480x.jpg" class="img-responsive" alt="">
        </div>

        <a href="">

          <!--<div class="item__img"><img src="assets/img/feature1_480x.jpg" class="img-responsive" alt=""></div>-->

          <div class="item__info">
            <div class="item__title"><h3 class="title">shisha</h3></div>
            <div class="item__details">
              <div class="details">
                <div class="details__description">A wide selection of hookahs</div>
                <div class="btn-green-base">Shop</div>
              </div>
            </div>

          </div>

        </a>

      </div>

      <div class="item">

        <div class="item__img">
          <!--<img src="assets/img/head-backgr.jpg" class="img-responsive" alt="">-->
          <img src="assets/img/feature4_480x.jpg" class="img-responsive" alt="">
        </div>

        <a href="">

          <!--<div class="item__img"><img src="assets/img/feature1_480x.jpg" class="img-responsive" alt=""></div>-->

          <div class="item__info">
            <div class="item__title"><h3 class="title">shisha</h3></div>
            <div class="item__details">
              <div class="details">
                <div class="details__description">A wide selection of hookahs</div>
                <div class="btn-green-base">Shop</div>
              </div>
            </div>

          </div>

        </a>

      </div>

    </div>
  </div>
</div>


  <div class="promo-slider">
    <app-promo-slider></app-promo-slider>
  </div>


</div>


